.container {
  padding: 0; }

@media (min-width: 768px) {
  .container {
    width: 570px; } }

@media (min-width: 992px) {
  .container {
    width: 800px; } }

@media (min-width: 1200px) {
  .container {
    width: 1000px; } }

[joy-knob] {
  display: inline-block;
  border-radius: 50%; }
  [joy-knob] .joyKnobBoundary {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    border: 2px solid #000000; }
    [joy-knob] .joyKnobBoundary .joyKnob {
      position: absolute;
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #000000; }
  [joy-knob].color {
    background: radial-gradient(circle at 0 0, #ffffff 20%, #ffff00 25%, #00ff00 34%, #00ffff 42%, #0000ff 52%, #ff00ff 61%, #ff0000 74%, #000000 80%); }
    [joy-knob].color .joyKnobBoundary {
      background: linear-gradient(45deg, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.75) 75%, black 85%); }

* {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; }

h1, h2, h3, h4, p {
  margin: 0; }

body {
  display: inline-block;
  background: #6aa4c4;
  /* Old browsers */
  background: -moz-linear-gradient(20deg, #cce1f9 0%, #6aa4c4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(20deg, #cce1f9 0%, #6aa4c4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(20deg, #cce1f9 0%, #6aa4c4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce1f9', endColorstr='#6aa4c4',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: #15151d; }

.app_canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 10px; }
  .app_canvas .main_screen {
    display: block;
    background-color: #dddddd;
    color: #333333;
    position: absolute;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #666666;
    padding: 20px; }
    .app_canvas .main_screen [joy-knob] {
      display: inline-block;
      border-radius: 50%; }
      .app_canvas .main_screen [joy-knob] .joyKnobBoundary {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: relative;
        border: 2px solid #000000; }
        .app_canvas .main_screen [joy-knob] .joyKnobBoundary .joyKnob {
          position: absolute;
          display: block;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background-color: #000000; }
      .app_canvas .main_screen [joy-knob].color {
        background: radial-gradient(circle at 0 0, #ffffff 20%, #ffff00 25%, #00ff00 34%, #00ffff 42%, #0000ff 52%, #ff00ff 61%, #ff0000 74%, #000000 80%); }
        .app_canvas .main_screen [joy-knob].color .joyKnobBoundary {
          background: linear-gradient(45deg, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.75) 75%, black 85%); }
