[joy-knob] {
  display: inline-block;
  border-radius: 50%;
  .joyKnobBoundary {
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    border: 2px solid #000000;
    .joyKnob {
      position: absolute;
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #000000;
    }
    canvas {
      display: none;
    }
  }
  &.color {
    background: radial-gradient(circle at 0 0, #ffffff 20%,#00ff00 28%,#ffff00 40%,#ff0000 48%,#ff00ff 52%,#0000ff 60%,#00ffff 68%,#000000 76%);
    .joyKnobBoundary {
      background: linear-gradient(45deg, rgba(255,255,255,1) 15%,rgba(255,255,255,0) 50%,rgba(0,0,0,.75) 75%,rgba(0,0,0,1) 85%);
    }
  }
  input {
    position: absolute;
  }
}
